<div class="container-fluid">
    <div class="row">
    <!-- Nav bar with social medias -->
    <div class="navBar col-sm-12"> 
        <a href="#" class="socMed" ><i>{% include icons/facebook.html %}</i></a>
        <a href="#" class="socMed" ><i>{% include icons/insta.html %}</i></a>
        <a href="#" class="socMed" ><i>{% include icons/twitter.html %}</i></a>
        <a href="#" class="socMed" ><i>{% include icons/linkedin.html %}</i></a>
        <a href="#" class="searchRight socMed"><i>{% include icons/search.html %}</i></a>       
    </div>
    </div>
    <!-- end of Nav bar with social medias -->
    <!-- Content div -->
     <div> 
         <div class="row mainrow">
         <header class="col-sm-12">
             <h1 class="main">Marta Gut</h1>
             <h5 class="underMain">Let's travel together</h5>
         </header>
         <!-- Big Image Header -->
         <div class="row">
         <div class="imgContainer col-sm-12">
             <img class="image" src="assets\img\imageHeader.jpg"  alt="imageHeader"/>
             <div class="imgText">
                   <h1 class="title"><span>My travelling experience</span></h1>
                   <button class="subscribebutt">Subscribe</button>
             </div>
         </div>
         </div>
         </div>
          <!--End of Big Image Header -->
     </div>
</div>